@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
:root {
  --Black: #150c01;
  --Orange: #dc780b;
  --White: #fafafa ;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pdding: 2vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 15px;
}

.text1 {
  background-color: var(--Orange);
  color: var(--White);
  border-radius: 5px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.photo1 {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.text2 {
  font-size: 48.83px;
  font-weight: 700;
}